node_modules/*
*/node_modules/*

.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.rollup.cache/
.yarn/cache/
.yarn/install-state.gz

*/build/*
*/dist/*
.parcel-cache
cloudtower-api-doc/static/specs/*

.yarn/cache/*
.docusaurus
.vscode/*

**/miss/*.json


CloudTower-API-doc_docx/*